.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.header__menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;
}


.header__link{
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transform: color 0.3s;
}

.header__link:hover{
    color: tomato;
}



