.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color:rgb(72, 70, 69)
}

.first__img {
    border-radius: 50%;
    width: 500px;
}

/* .first__h {
    color: white;
}

.first__p {
    color: white;
} */

.first__btn {
    width: 100px;
    height: 50px;
    border-radius: 5px;
}

