.lol{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(27, 27, 25);
}

.canvas_container{
    /* background-color: rgb(238, 244, 65); */
    text-align: center;
}

#canvas{
    background-color: rgb(0, 0, 0);
    margin-top: auto;
    margin-bottom: auto;
}

.canvas__button{
    width: 100px;
    height: 75px;
    background-color: tomato;
    text-align: center;
}

.c{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
