body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ffb5a7;
}

h1 {
  color: #090909;
}

p {
  color: #666;
  line-height: 1.5;
}

#top {
  background-color: #f8edeb;
  width: 90%;
  align-self: center;
  text-align: center;
  border-radius: 5px;
}

#side{
  background-color: #f8edeb;
  width: 20%;
  height: 700px;
  float: left;
  text-align: center;
  border-radius: 5px;
  margin-right: 5px;
}

#main{
  background-color: #f8edeb;
  width: 70%;
  height: 700px;
  float: left;
  text-align: center;
  border-radius: 5px;
}

#bottom{
  background-color: #f8edeb;
  width: 90%;
  height: 50px;
  float: left;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}

