body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #2a2928;
}
.container{
  color: white;
}

.red{
  color: rgb(241, 36, 67);
}

.blue{
  color: rgb(41, 229, 243);
}

.green{
  color: rgb(91, 243, 80);
}




