*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color:grey
}

main{
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.red{
  color: rgb(241, 36, 67);
}

.blue{
  color: rgb(41, 229, 243);
}

.green{
  color: rgb(91, 243, 80);
}




